.header {
    margin-bottom: 30px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        & a:nth-child(1) {
            margin-right: 15px;
        }
    }
}

.active-link {
    font-weight: bold;
    color: #1976d2;
    text-decoration: underline;
  }