.card {
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px 24px;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: white;
    transition: transform 0.1s ease;
    
    &:hover {
      transform: scale(1.02);
    }
  
    &__name {
      font-weight: bold;
    }
  
    &__link {
      text-decoration: none;
      color: black;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  